* {
  margin: 0;
  padding: 0;
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
}

body {
  font-variant: small-caps;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

div {
  display: inline-block;
  text-align: center;
}

h1,
h4 {
  color: gold;
  text-shadow: white 0px 0px 10px;
}

h3 {
  font-size: 40px;
}

table {
  border: solid greenyellow 2px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 15px;
}

.play {
  height: 50px;
  width: 170px;
  background: green;
  text-align: center;
  border: solid 2px white;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
}

.res {
  height: 50px;
  width: 170px;
  background: yellow;
  font-size: 30px;
  color: green;
  font-weight: bolder;
  text-align: center;
  border: solid green 2px;
  border-radius: 5px;
}

.inp {
  font-size: 80px;
  width: 100px;
  height: fit-content;
  background: transparent;
  border: solid white 2px;
  border-radius: 7px;
}

#com {
  font-size: 30px;
  color: red;
}
